{% extends 'base.html' %}

{% block content %}
    <h1>Previous Events</h1>
    <div class="nav-buttons">
        <a href="{{ url_for('organizer_profile') }}" class="nav-button">Profile</a>
        <a href="{{ url_for('create_event') }}" class="nav-button">Create Event</a>
        <a href="{{ url_for('upcoming_events_organizer') }}" class="nav-button">Upcoming Events</a>
        <a href="{{ url_for('previous_events_organizer') }}" class="nav-button active">Previous Events</a>
    </div>
    {% if events %}
        {% for event in events %}
            <div class="event">
                <h3>{{ event['Name'] }}</h3>
                <p>{{ event['Description'] }}</p>
                <p>{{ event['Description'] }}</p>
{% set event_date_time = event['EventDateTime'].split('T') %}
                <p>Date: {{ event_date_time[0] }}</p>
                <p>Time: 
                  {% set time_parts = event_date_time[1].split(':') %}
                  {% set hour = time_parts[0] | int %}
                  {% set minute = time_parts[1] %}
                  {% if hour == 0 %}
                    12:{{ minute }} AM
                  {% elif hour == 12 %}
                    12:{{ minute }} PM
                  {% elif hour > 12 %}
                    {{ hour - 12 }}:{{ minute }} PM
                  {% else %}
                    {{ hour }}:{{ minute }} AM
                  {% endif %}
                </p>
                <p>Registered Users: {{ event['RegisteredUsers'] }}</p>
                <form action="{{ url_for('view_registered_users', event_id=event['EventID']) }}" method="GET">
                    <button type="submit" class="view-users-button">View Registered Users</button>
                </form>
            </div>
        {% endfor %}
    {% else %}
        <p>No previous events.</p>
    {% endif %}
{% endblock %}
