{% extends 'base.html' %}

{% block content %}
    <h1>All Events</h1>
    <div class="nav-buttons">
        <a href="{{ url_for('events') }}" class="nav-button active">All Events</a>
        <a href="{{ url_for('upcoming_events') }}" class="nav-button">Booked Events</a>
        <a href="{{ url_for('previous_events') }}" class="nav-button">Past Events</a>
    </div>
    <form>
      <input type="text" id="search" placeholder="Search events...">
  </form>
    <div id="event-list">
    {% for event in events %}
        <div class="event">
            <h3>{{ event['Name'] }}</h3>
            <p>{{ event['Description'] }}</p>
            {% set event_date_time = event['EventDateTime'].split('T') %}
            <p>Date: {{ event_date_time[0] }}</p>
            <p>Time: 
              {% set time_parts = event_date_time[1].split(':') %}
              {% set hour = time_parts[0] | int %}
              {% set minute = time_parts[1] %}
              {% if hour == 0 %}
                12:{{ minute }} AM
              {% elif hour == 12 %}
                12:{{ minute }} PM
              {% elif hour > 12 %}
                {{ hour - 12 }}:{{ minute }} PM
              {% else %}
                {{ hour }}:{{ minute }} AM
              {% endif %}
            </p>

            <form action="{{ url_for('register_event', event_id=event['EventID']) }}" method="POST">
                <button type="submit">Register</button>
            </form>
        </div>
    {% endfor %}
    </div>
  <script>
    // Get the search input, search button, and album list
    const search = document.getElementById('search');
    const EventList = document.getElementById('event-list');
    const EventItems = EventList.querySelectorAll('.event');


    // Add event listener to search input
    search.addEventListener('input', () => {
      filterEvents();
    });

    // Function to filter albums based on search term
    function filterEvents() {
      // Get search value and convert to lowercase
      const searchTerm = search.value.toLowerCase();

      // Loop through album items and hide/show albums based on search term
      EventItems.forEach(item => {
        const EventTitle = item.querySelector('h3').textContent.toLowerCase();
        if (EventTitle.startsWith(searchTerm)) {
          item.style.display = 'block';
        } else {
          item.style.display = 'none';
        }
      });
    }
  </script>
{% endblock %}
