<!-- upcoming_events.html -->
{% extends 'base.html' %}

{% block content %}
    <h1>Upcoming Events</h1>
    <div class="nav-buttons">
        <a href="{{ url_for('events') }}" class="nav-button">All Events</a>
        <a href="{{ url_for('upcoming_events') }}" class="nav-button active">Booked Events</a>
        <a href="{{ url_for('previous_events') }}" class="nav-button">Past Events</a>
    </div>
    {% if events %}
        {% for event in events %}
            <div class="event">
                <h3>{{ event['Name'] }}</h3>
                <p>{{ event['Description'] }}</p>
                <p>{{ event['Description'] }}</p>
{% set event_date_time = event['EventDateTime'].split('T') %}
                <p>Date: {{ event_date_time[0] }}</p>
                <p>Time: 
                  {% set time_parts = event_date_time[1].split(':') %}
                  {% set hour = time_parts[0] | int %}
                  {% set minute = time_parts[1] %}
                  {% if hour == 0 %}
                    12:{{ minute }} AM
                  {% elif hour == 12 %}
                    12:{{ minute }} PM
                  {% elif hour > 12 %}
                    {{ hour - 12 }}:{{ minute }} PM
                  {% else %}
                    {{ hour }}:{{ minute }} AM
                  {% endif %}
                </p>
                <form action="{{ url_for('remove_event', event_id=event['EventID']) }}" method="POST">
                    <button type="submit" class="remove-button">Remove Event</button>
                </form>
            </div>
        {% endfor %}
    {% else %}
        <p>No upcoming events that you registered for.</p>
    {% endif %}
{% endblock %}
